body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}

header{
    background-color: #06131F;
    height: 10vh;
}

.logo{
    cursor: pointer;
    width: 60px;
}

main{
    background-color: #1D2D3C;
}

.custom-card{
    background-color: #112030;
}

.album-cover{
    width: 200px;
    cursor: pointer;
    border: solid 2px #fff;
}

.album-cover:hover{
    border: solid 2px #18D860;
}